{% load i18n %}
<form class="form-signin" method="{{ method|default:"POST" }}" enctype="{{ enctype|default:"application/x-www-form-urlencoded" }}">
    {% csrf_token %}
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">{% trans title %}</h1>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

    {% if form.non_field_errors %}
        <div class="form-group">
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endfor %}
        </div>
    {% endif %}

    {% for field in form %}
        {% if field.field.widget.input_type == 'checkbox' %}
            <div class="checkbox mb-3">
                <label>
                    {{ field }} {{ field.label }}
                </label>
            </div>
        {% else %}
            <div class="form-label-group">
                {{ field }}
                <label for="{{ field.auto_id }}">{{ field.label }}</label>
                {% for error in field.errors %}
                    <small id="{{ field.auto_id }}" class="form-text text-danger">{{ error }}</small>
                {% endfor %}
            </div>
        {% endif %}
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">{% trans button %}</button>

</form>
